@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: black;
}

@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 180 8% 5%;

    --card: 180 10% 94%;
    --card-foreground: 180 8% 5%;

    --popover: 180 10% 94%;
    --popover-foreground: 180 8% 5%;    
    
    --primary: 200 100% 64%;
    --primary-foreground: 180 9% 2%;

    --secondary: 170 12% 91%;
    --secondary-foreground: 180 8% 5%;

    --muted: 180 8% 91%;
    --muted-foreground: 177 9% 45%;

    --accent: 180 8% 91%;
    --accent-foreground: 180 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 9% 87%;
    --input: 180 9% 80%;
    --ring: 178 36% 72%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 98%;

    --primary: 200 100% 64%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 6%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 49%;

    --accent: 0 0% 6%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 11%;
    --input: 0 0% 16%;
    --ring: 178 48% 40%;
  }
  /* Hide the scrollbar in the textarea */
textarea::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Prevent text overflow and allow auto-expansion */
textarea {
  overflow: hidden; /* Ensure no scrollbar appears */
}

}

