
.highlight{
    color: #00ffcc; 
  }


.main-div{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.events-list {
    text-align: center;
    color: #ffffff;
    /* padding: 20px; */
    max-width: 1226px;
  }
  

.events-list h2 {
    font-size: 80px;
    margin-bottom: 20px;
  }